/* h1{
    color: #3eb3e5;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 回転する要素の基本スタイル */
/* .r{
  width: 200px;
  height: 200px;
  background-color: pink;
  margin: 20px auto;
  animation: rotateAnimation 1s linear infinite;
} */ */

img{
    width: 300px;
}

.y,.c{
    text-align: center;

}
.ho img:hober{
  transform:scale(1.2,1.2);
}
.ho{
      display: flex;
  justify-content: center;
}
